.diagramma-section {
  background-color: #171820;
  color: #fff;
  display: flex;
  font-family: "WorcSans", "Arial", sans-serif;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 25px 32px;
  border-radius: 10px;
  transition: all .2s linear;
}

.diagramma-section_0,
.diagramma-section_1,
.diagramma-section_2 {
  width: 250px;
}

.diagramma-section__title {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 21px;
}

.diagramma-section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .2s linear;
}

@media screen and (min-width: 551px) {

  .diagramma-section_0 {
    padding: 20px 32px 32px;
    width: 360px;
  }

  .diagramma-section_1,
  .diagramma-section_2 {
    padding: 20px 32px 51px;
  }

  .diagramma-section_1 {
    width: 520px;
  }

  .diagramma-section_2 {
    width: 400px;
  }

  .diagramma-section__title_0 {
    font-size: 18px;
  }

  .diagramma-section__title_1,
  .diagramma-section__title_2 {
    align-self: flex-start;
  }

  .diagramma-section__content_1 {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    min-width: 100%;
  }

  .diagramma-section__content_2 {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 801px) {

  .diagramma-section_0,
  .diagramma-section_2 {
    padding-bottom: 50px;
    width: 530px;
  }

  .diagramma-section_1 {
    width: 640px;
  }

  .diagramma-section__title {
    font-size: 20px;
  }
}

@media screen and (min-width: 1279px) {

  .diagramma-section {
    padding-top: 35px;
    padding-bottom: 60px;
  }

  .diagramma-section_0,
  .diagramma-section_2 {
    width: 680px;
  }

  .diagramma-section_1 {
    padding-left: 40px;
    padding-right: 40px;
    width: 940px;
  }

  .diagramma-section__title_0 {
    font-size: 22px;
  }
}