.header,
.header__title,
.header__underline {
  transition: all .2s linear;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 15px 0 30px;
  min-width: 100%;
}

.header__title {
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 64px;
  letter-spacing: 2px;
}

.header__underline {
  visibility: hidden;
}

@media screen and (min-width: 360px) {
  .header {
    justify-content: start;
    align-items: baseline;
    padding-left: 15px;
    padding-right: 15px;
  }

}

@media screen and (min-width: 400px) {
  .header__underline {
    visibility: visible;
    margin-left: 5px;
    width: 100%;
    border: 1px solid #fff;
  }

}

@media screen and (min-width: 551px) {
  .header {
    padding: 50px 50px 50px;
  }

  .header__title {
    font-size: 96px;
    letter-spacing: 5px;
  }

  .header__underline {
    visibility: hidden;
    border-width: 2px;
    margin-left: 20px;
  }

}

@media screen and (min-width: 630px) {
  .header__underline {
    visibility: visible;
  }

}