.diagramma-wrapper {
  position: relative;
}

.diagramma {
  border-radius: 50%;
  overflow: hidden;
}

.diagramma-info {
  background-color: #171820;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.diagramma-info_number_0,
.diagramma-info_number_1 {
  font-size: 20px;
}

.diagramma-info_number_2 {
  font-size: 24px;
}

.diagramma-info_span {
  color: #E5D8EB;
  opacity: .5;
}

.diagramma-info_span_0,
.diagramma-info_span_1 {
  font-size: 10px;
}

.diagramma-info_span_2 {
  font-size: 16px;
}