.diagramma-wrapper {
  position: relative;
}

.diagramma {
  border-radius: 50%;
  overflow: hidden;
}

.diagramma-info {
  background-color: #171820;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.diagramma-info_number_0,
.diagramma-info_number_1,
.diagramma-info_number_2 {
  font-size: 20px;
}

.diagramma-info_span {
  color: #E5D8EB;
  opacity: .5;
}

.diagramma-info_span_0,
.diagramma-info_span_1,
.diagramma-info_span_2 {
  font-size: 10px;
}

@media screen and (min-width: 551px) {

  .diagramma-info_number_0,
  .diagramma-info_number_2 {
    font-size: 45px;
  }

  .diagramma-info_span_0,
  .diagramma-info_span_2 {
    font-size: 17px;
  }
}

@media screen and (min-width: 801px) {

  .diagramma-info_number_0,
  .diagramma-info_number_2 {
    font-size: 65px;
  }

  .diagramma-info_number_1 {
    font-size: 45px;
  }

  .diagramma-info_span_0,
  .diagramma-info_span_2 {
    font-size: 25px;
  }

  .diagramma-info_span_1 {
    font-size: 17px;
  }
}

@media screen and (min-width: 1279px) {

  .diagramma-info_number_0,
  .diagramma-info_number_2 {
    font-size: 85px;
  }

  .diagramma-info_number_1 {
    font-size: 65px;
  }

  .diagramma-info_span_0,
  .diagramma-info_span_2 {
    font-size: 30px;
  }

  .diagramma-info_span_1 {
    font-size: 25px;
  }
}